<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     <form action="8840726/ReviewVideo/443280/Location/Bar" method="post" enctype="multipart/form-data">
	<label for="file">Filename:</label>
<input type="hidden" name="stars" value=3>
<input type ="hidden" name="comment", value="This is a good place to stay">
<input type="file" name="video" id="video" enctype="multipart/form-data"><br>
<input type="file" name="room_img" id="room_img" enctype="multipart/form-data"><br>
<input type="submit" name="submit" value="Submit">
     </form>
  </body>
</html>
